@model Ingeneo.AppContratos.Models.Prorroga

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Detalles póliza y coberturas de la prórroga</h2>
    <hr />
    <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>
            <tr>
                <th>
                    Nombre del cliente
                </th>
                <th>
                    Nombre del contrato
                </th>
                <th>
                    Código de la póliza
                </th>
                <th>
                    Nombre de la aseguradora
                </th>
                <th>
                    Fecha inicio de la póliza
                </th>
                <th>
                    Fecha fin de la póliza
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.PolizaPro)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Contrato.Cliente.NombreCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Contrato.CodigoContrato)
                    </td>
                    <td>
                        @x.CodigoPoliza
                    </td>
                    <td>
                        @x.NombreAseguradora
                    </td>
                    <td>
                        @x.FechaInicioPoliza.ToShortDateString()
                    </td>
                    <td>
                        @x.FechaFinpoliza.ToShortDateString()
                    </td>
                    <td>
                        <a class="btn btn-warning" data-toggle="tooltip" title="Editar póliza" href="/Polizas/Edit/@x.id"> <span class="glyphicon glyphicon-edit"></span></a>
                        <a class="btn btn-danger" data-toggle="tooltip" title="Borrar póliza" href="/Polizas/Delete/@x.id"><span class="glyphicon glyphicon-trash"></span></a> 
                        <a class="btn btn-info" data-toggle="tooltip" title="Agregar Cobertura" href="/DetallePolizas/Create/@x.id"> <span class="glyphicon glyphicon-plus"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <hr />
    <br />
    <table class="table table-striped table-hover table-responsive table-bordered">
        <thead>
            <tr><th colspan="5" style="text-align:center; font-weight:bold">Coberturas de la poliza</th></tr>
            <tr>
                <th>
                    Descripcion de la cobertura
                </th>
                <th>
                    Fecha Inicio Cobertura
                </th>
                <th>
                    Fecha Fin Cobertura
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var x in Model.PolizaPro)
            {
                foreach (var z in x.DetallePoliza)
                {
                    <tr>
                        <td>
                            @z.DescripcionCobertura
                        </td>
                        <td>
                            @z.FechaInicioProteccion.ToShortDateString()
                        </td>
                        <td>
                            @z.FechaFinProteccion.ToShortDateString()
                        </td>
                        <td>
                            <a class="btn btn-warning" data-toggle="tooltip" title="Editar cobertura" href="/DetallePolizas/Edit/@z.id"> <span class="glyphicon glyphicon-edit"></span></a>
                            <a class="btn btn-danger" data-toggle="tooltip" title="Borrar" href="/DetallePolizas/Delete/@z.id"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<p>

    <a class="btn btn-primary" href=@Url.Action("Details", "Contratos", new { id = Model.Contratoid })><span class="glyphicon glyphicon-arrow-left"></span>  Regresar a prórrogas</a>
  
</p>